<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wonderming.mapper.UserInfoMapper">
    <resultMap id="BaseResultMap" type="org.wonderming.pojo.UserInfo">
        <id property="id" column="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result property="userName" column="user_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="userPassword" column="user_password" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="realName" column="real_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" javaType="java.lang.String" jdbcType="CHAR"/>
        <result property="email" column="email" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="address" column="address" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="isApply" column="is_apply" javaType="java.lang.Short" jdbcType="SMALLINT"/>
        <result property="creator" column="creator" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="modifier" column="modifier" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="modifyTime" column="modify_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--复杂对象映射-->
    <resultMap id="RoleResultMap" type="org.wonderming.dto.UserInfoDTO" extends="BaseResultMap">
        <association property="userRoleList" resultMap="org.wonderming.mapper.UserRoleMapper.BaseResultMap"
                     javaType="java.util.List" columnPrefix="user_role_"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, user_name, user_password, real_name, phone, email, address, is_apply,
    modifier, modify_time, creator, create_time
    </sql>

    <sql id="INFO_Colum_List">
        ui.id,
        ui.user_name,
        ui.user_password,
        ui.real_name,
        ui.phone,
        ui.email,
        ui.address,
        ui.is_apply,
        ui.modifier,
        ui.modify_time,
        ui.creator,
        ui.create_time
    </sql>

    <sql id="ROLE_Colum_List">
        ur.id AS user_role_id,
        ur.role AS user_role_role,
        ur.role_name AS user_role_role_name,
        ur.is_apply AS user_role_is_apply,
        ur.creator AS user_role_creator,
        ur.create_time AS user_role_create_time,
        ur.modifier AS user_role_modifier,
        ur.modify_time AS user_role_modify_time
    </sql>



    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_info
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="org.wonderming.pojo.UserInfo">
    insert into user_info (id, user_name, user_password, 
      real_name, phone,
      email, address, is_apply, 
      modifier, modify_time, creator,
      create_time)
    values (#{id,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, 
      #{realName,jdbcType=VARCHAR}, #{phone,jdbcType=CHAR},
      #{email,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{isApply,jdbcType=SMALLINT}, 
      #{modifier,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="org.wonderming.pojo.UserInfo">
        insert into user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="userPassword != null">
                user_password,
            </if>
            <if test="realName != null">
                real_name,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="isApply != null">
                is_apply,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPassword != null">
                #{userPassword,jdbcType=VARCHAR},
            </if>
            <if test="realName != null">
                #{realName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=CHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="isApply != null">
                #{isApply,jdbcType=SMALLINT},
            </if>
            <if test="modifier != null">
                #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.wonderming.pojo.UserInfo">
        update user_info
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPassword != null">
                user_password = #{userPassword,jdbcType=VARCHAR},
            </if>
            <if test="realName != null">
                real_name = #{realName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=CHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="isApply != null">
                is_apply = #{isApply,jdbcType=SMALLINT},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.wonderming.pojo.UserInfo">
    update user_info
    set user_name = #{userName,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=CHAR},
      email = #{email,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      is_apply = #{isApply,jdbcType=SMALLINT},
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="getUserInfoByUsername" parameterType="java.lang.String" resultMap="RoleResultMap">
      SELECT
      <include refid="INFO_Colum_List"/>,
      <include refid="ROLE_Colum_List"/>
      FROM user_info AS ui
      LEFT JOIN
      user_info_role AS uir ON ui.id = uir.user_id
      LEFT JOIN
      user_role AS ur ON uir.role_id = ur.id
      WHERE
      ui.user_name = #{username}
    </select>
    <select id="getAllSystemUser" resultMap="RoleResultMap">
        SELECT
        <include refid="INFO_Colum_List"/>,
        <include refid="ROLE_Colum_List"/>
        FROM user_info AS ui
        LEFT JOIN
        user_info_role AS uir ON ui.id = uir.user_id
        LEFT JOIN
        user_role AS ur ON uir.role_id = ur.id
    </select>

</mapper>