<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wonderming.mapper.UserInfoMapper">
    <resultMap id="BaseResultMap" type="org.wonderming.pojo.UserInfo">
        <constructor>
            <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="user_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="user_password" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="role_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="real_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="phone" javaType="java.lang.String" jdbcType="CHAR"/>
            <arg column="email" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="address" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="is_apply" javaType="java.lang.Short" jdbcType="SMALLINT"/>
            <arg column="modifier" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="modifiy_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="creator" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>
    <resultMap id="RoleBaseResultMap" type="org.wonderming.pojo.UserRole">
        <constructor>
            <idArg column="user_role_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="role" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="role_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="privilage_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="is_apply" javaType="java.lang.Short" jdbcType="SMALLINT"/>
            <arg column="creator" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="modifier" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="modifiy_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>

    <resultMap id="dto" type="org.wonderming.dto.UserInfoDTO" extends="BaseResultMap">
        <association property="userRole" resultMap="org.wonderming.mapper.UserRoleMapper.BaseResultMap"
                     javaType="org.wonderming.pojo.UserRole" columnPrefix="user_role_"/>
    </resultMap>

    <!--userInfoDto-->
    <resultMap id="RoleResultMap" type="org.wonderming.dto.UserInfoDTO">
        <constructor>
            <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="user_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="user_password" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="role_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="real_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="phone" javaType="java.lang.String" jdbcType="CHAR"/>
            <arg column="email" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="address" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="is_apply" javaType="java.lang.Short" jdbcType="SMALLINT"/>
            <arg column="modifier" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="modifiy_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="creator" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        </constructor>
        <association property="userRole" autoMapping="true">
            <constructor>
                <idArg column="user_role_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
                <arg column="role" javaType="java.lang.String" jdbcType="VARCHAR"/>
                <arg column="role_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
                <arg column="privilage_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
                <arg column="user_role_is_apply" javaType="java.lang.Short" jdbcType="SMALLINT"/>
                <arg column="user_role_creator" javaType="java.lang.String" jdbcType="VARCHAR"/>
                <arg column="user_role_create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
                <arg column="user_role_modifier" javaType="java.lang.String" jdbcType="VARCHAR"/>
                <arg column="user_role_modifiy_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            </constructor>
        </association>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_name, user_password, role_id, real_name, phone, email, address, is_apply, 
    modifier, modifiy_time, creator, create_time
  </sql>
    <sql id="ROLE_Colum_List">
    id user_role_id,
    role user_role_role,
    role_name user_role_role_name,
    privilage_id user_role_privilage_id,
    is_apply user_role_is_apply,
    creator user_role_creator,
    create_time user_role_create_time,
    modifier user_role_modifier,
    modifiy_time user_role_modifiy_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_info
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="org.wonderming.pojo.UserInfo">
    insert into user_info (id, user_name, user_password, 
      role_id, real_name, phone, 
      email, address, is_apply, 
      modifier, modifiy_time, creator, 
      create_time)
    values (#{id,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, 
      #{roleId,jdbcType=BIGINT}, #{realName,jdbcType=VARCHAR}, #{phone,jdbcType=CHAR}, 
      #{email,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{isApply,jdbcType=SMALLINT}, 
      #{modifier,jdbcType=VARCHAR}, #{modifiyTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="org.wonderming.pojo.UserInfo">
        insert into user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="userPassword != null">
                user_password,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
            <if test="realName != null">
                real_name,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="isApply != null">
                is_apply,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="modifiyTime != null">
                modifiy_time,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPassword != null">
                #{userPassword,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=BIGINT},
            </if>
            <if test="realName != null">
                #{realName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=CHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="isApply != null">
                #{isApply,jdbcType=SMALLINT},
            </if>
            <if test="modifier != null">
                #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modifiyTime != null">
                #{modifiyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.wonderming.pojo.UserInfo">
        update user_info
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPassword != null">
                user_password = #{userPassword,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                role_id = #{roleId,jdbcType=BIGINT},
            </if>
            <if test="realName != null">
                real_name = #{realName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=CHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="isApply != null">
                is_apply = #{isApply,jdbcType=SMALLINT},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modifiyTime != null">
                modifiy_time = #{modifiyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.wonderming.pojo.UserInfo">
    update user_info
    set user_name = #{userName,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=BIGINT},
      real_name = #{realName,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=CHAR},
      email = #{email,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      is_apply = #{isApply,jdbcType=SMALLINT},
      modifier = #{modifier,jdbcType=VARCHAR},
      modifiy_time = #{modifiyTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="getUserInfoByUsername" parameterType="java.lang.String" resultMap="dto">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user_info
        LEFT JOIN
        (SELECT
        <include refid="ROLE_Colum_List"/>
        FROM user_role WHERE EXISTS (SELECT * FROM user_info WHERE user_role.id = role_id)) AS user_role
        ON user_info.user_name = #{username}
    </select>
</mapper>