<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>系统常量</h2>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="animated fadeInRight">
    <div class="wrapper wrapper-content" ng-controller="systemConstantCtrl">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="sk-spinner sk-spinner-cube-grid">
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                        </div>
                        <div class="row">

                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-3 col-lg-offset-3">
                                <button class="btn btn-sm btn-w-m btn-primary pull-right">
                                    查询
                                </button>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-3">
                                <button class="btn btn-sm btn-w-m btn-info">
                                    重置
                                </button>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="table-responsive">
                            <table ng-table="systemConstantTable" class="table table-condensed table-striped">
                                <tr>
                                    <td class="text-center" data-title="'常量名称'">
                                    </td>
                                    <td class="text-center" data-title="'常量值'">
                                    </td>
                                    <td class="text-center" data-title="'组别'">
                                    </td>
                                    <td class="text-center" data-title="'排序'">
                                    </td>
                                    <td class="text-center" data-title="'操作'">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>