<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

     <!--Spring扫描@Compontent,@Repository,@Service,@Controller注解-->
     <context:component-scan base-package="org.wonderming.serviceimpl"/>

     <!--使用Aspectj代替SpringAOP proxy-target-class="true"：使用cglib而不是jdk的来生成代理方法
          AOP有Aspectj和SpringAOP,代理方法有cglib(动态地对目标对象进行子类化来实现AOP代理,业务对象没有实现任何接口的时候默认会选择CGLIB)和jdk(只针对实现了接口的业务对象)
     -->
     <aop:aspectj-autoproxy/>

     <!--根据注释启用本地事务行为配置-->
     <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
          <property name="dataSource" ref="dataSource"/>
     </bean>

     <!--本地事务的转播行为-->
     <tx:advice id="txAdvice" transaction-manager="txManager">
          <tx:attributes>
               <tx:method name="get*" read-only="true"/>
               <tx:method name="add*" propagation="REQUIRED"/>
               <tx:method name="update*" propagation="REQUIRED"/>
               <tx:method name="delete*" propagation="REQUIRED"/>
          </tx:attributes>
     </tx:advice>

     <!--本地事务AOP-->
     <aop:config>
          <aop:advisor advice-ref="txAdvice" pointcut="execution(* org.wonderming.service..*.*(..))"/>
     </aop:config>

     <!--定义系统日志bean-->
     <bean id="systemServiceAspect" class="org.wonderming.aop.SystemServiceAspect"/>

     <!--&lt;!&ndash;系统日志AOP&ndash;&gt;-->
     <!--<aop:config>-->
          <!--<aop:aspect ref="systemServiceAspect">-->
               <!--&lt;!&ndash;定义切点&ndash;&gt;-->
               <!--<aop:pointcut id="serviceAspect" expression="@annotation(org.wonderming.aop.SystemServiceLog)"/>-->
               <!--&lt;!&ndash;定义前置通知&ndash;&gt;-->
               <!--<aop:before method="doBefore" pointcut-ref="serviceAspect"/>-->
               <!--&lt;!&ndash;定义异常通知&ndash;&gt;-->
               <!--<aop:after-throwing method="doAfterThrowing" pointcut-ref="serviceAspect" throwing="e"/>-->
          <!--</aop:aspect>-->
     <!--</aop:config>-->
</beans>