<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

     <!--Spring扫描@Compontent,@Repository,@Service,@Controller注解-->
     <context:component-scan base-package="org.wonderming.serviceimpl"/>

     <!--根据注释启用本地事务行为配置-->
     <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
          <property name="dataSource" ref="dataSource"/>
     </bean>

     <!--本地事务的转播行为-->
     <tx:advice id="txAdvice" transaction-manager="txManager">
          <tx:attributes>
               <tx:method name="get*" read-only="true"/>
               <tx:method name="find*" read-only="true"/>
               <tx:method name="add*" propagation="REQUIRED"/>
               <tx:method name="update*" propagation="REQUIRED"/>
               <tx:method name="delete*" propagation="REQUIRED"/>
          </tx:attributes>
     </tx:advice>

     <!--本地事务AOP-->
     <aop:config>
          <aop:advisor advice-ref="txAdvice" pointcut="execution(* org.wonderming.service..*.*(..))"/>
     </aop:config>

     <!--定义系统日志Aop bean-->
     <bean id="systemServiceAspect" class="org.wonderming.aop.SystemServiceAspect"/>

     <!--定义数据源切换Aop bean-->
     <bean id="dataSourceAspect" class="org.wonderming.datasource.DataSourceAspect">
          <!--方法前缀分类进行数据源的读写分离-->
          <property name="methodType">
               <map key-type="java.lang.String" value-type="java.lang.String">
                    <!--读数据源方法前缀-->
                    <entry key="read" value="get,find"/>
                    <!--写数据源方法前缀-->
                    <entry key="write" value="add,update,delete"/>
               </map>
          </property>
     </bean>

</beans>